table.table {
  text-align: center;
}

.table tbody tr:hover {
  background: #333941;
}

.table th:first-child {
  text-align: left;
}

.table th.name {
  width: 220px;
}

.table th.resource {
  width: 420px;
}

.table th.population,
.table th.deadline {
  width: 90px;
}

.table th.code,
.table th.priority {
  width: 70px;
}

.table th.latest-activity {
  width: 140px;
}

.table .progress {
  text-align: right;
  width: auto;
}

.table h3 {
  height: 22px; /* Needed to avoid cutting off text due to overflow: hidden; */
  margin-bottom: -5px; /* Needed to avoid cutting off text due to overflow: hidden; */
  overflow: hidden;
  padding-left: 1px; /* Needed to avoid cutting off text due to overflow: hidden; */
  text-align: left;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.table .name h3 {
  width: 219px;
}

.table .resource h3 {
  width: 419px;
}

.table h3 a {
  font-size: 15px;
  line-height: 13px;
}

.table a {
  color: #EBEBEB;
}

.table a:hover {
  color: #7BC876;
}

.table td.deadline time.approaching {
  color: #FED271;
}

.table td.deadline time.overdue {
  color: #FD5F60;
}

.table td.code a {
  color: #7BC876;
}

.table td.priority {
  padding-left: 16px;
}

.table td.priority .fa {
  margin-top: 2px;
}

.table .progress .not-ready {
  font-style: italic;
}

.table .progress .chart-wrapper {
  position: relative;
}

.table .progress .chart-wrapper .chart {
  display: table;
  font-size: 0;
  height: 3px;
  margin-top: 7px;
  table-layout: fixed;
  width: 320px;
}

.table .progress .chart-wrapper .chart span {
  display: table-cell;
  height: 100%;
}

.table .progress .chart-wrapper .percent {
  position: absolute;
  right: 0;
  top: -7px;
}

.table .progress .chart-wrapper .translated {
  background: #7BC876;
}

.table .progress .chart-wrapper .suggested {
  background: #4FC4F6;
}

.table .progress .chart-wrapper .fuzzy {
  background: #FED271;
}

.table .progress .chart-wrapper .missing {
  background: #637283;
}

.table tr:hover .progress .chart-wrapper {
  display: none;
}

.table .progress .legend {
  display: none;
  margin-bottom: -9px;
}

.table tr:hover .progress .legend {
  display: block;
}

.table .progress .legend ul {
  font-size: 0;
  margin-top: -1px;
}

.table .progress .legend li {
  display: inline-block;
  padding: 0;
  text-align: center;
  width: 72px;
}

.table .progress .legend li a {
  color: #AAAAAA;
  display: block;
  margin-top: -5px;
}

.table .progress .legend li .title {
  font-size: 10px;
  font-weight: 400;
  line-height: 10px;
}

.table .progress .legend li.translated .title {
  color: #7BC876;
}

.table .progress .legend li.suggested .title {
  color: #4FC4F6;
}

.table .progress .legend li.fuzzy .title {
  color: #FED271;
}

.table .progress .legend li.missing .title {
  color: #7C8B9C;
}

.table .progress .legend li.all .title {
  color: #AAAAAA;
}

.table .progress .legend li .value {
  font-size: 18px;
  line-height: 22px;
}

.table .progress .legend li a:hover .title {
  color: #EBEBEB;
}

.table .progress .legend li a:hover .value {
  color: #EBEBEB;
  font-weight: 700;
}
