{% extends "base.html" %}
{% import "widgets/menu.html" as Menu %}

{% block title %}Pontoon &middot; {{ locale.name }} ({{ locale.code }}){% endblock %}

{% block class %}locale{% endblock %}

{% block before %}
<!-- Server data -->
<div id="server"
     class="hidden"
     {% if csrf_token %}data-csrf="{{ csrf_token }}"{% endif %}
     data-url-split="{{ locale.code }}"
     data-locale="{{ locale.code }}"
     data-locale-projects="{{ locale.available_projects_list()|to_json }}">
</div>
{% endblock %}

{% block heading %}
<section id="heading">
  <div class="container">
    <div class="charts clearfix">
      <div class="data">
        <h1 class="heading">
          <a href="{{ url('pontoon.teams.team', locale.code) }}">{{ locale.name }}
            <span class="small">{{ locale.code }}</span>
          </a>
        </h1>
        <ul class="details">
          <li class="script">
            <span class="title">Script</span>
            <span class="value">{{ locale.script }}</span>
          </li>
          <li class="writing-direction">
            <span class="title">Writing direction</span>
            <span class="value">{{ locale.get_direction_display()|capitalize }}</span>
          </li>
          <li class="literate-speakers">
            <span class="title">Number of literate speakers<sup><a href="http://www.unicode.org/cldr/charts/latest/supplemental/territory_language_information.html" target="_blank">*</a></sup></span>
            <span class="value">{{ locale.population|intcomma or 'Unknown' }}</span>
          </li>
        </ul>
        <div class="progress clearfix">
          <div class="chart-wrapper">
            <canvas class="chart" height="110" width="110"></canvas>
            <span class="number noselect"></span>
          </div>
          <div class="legend">
            <ul>
              <li class="translated">
                <span class="fa status"></span>
                Translated
                <span class="value" data-value="{{ locale.approved_strings }}">{{ locale.approved_strings|intcomma }}</span>
              </li>
              <li class="suggested">
                <span class="fa status"></span>
                Suggested
                <span class="value" data-value="{{ locale.translated_strings }}">{{ locale.translated_strings|intcomma }}</span>
              </li>
              <li class="fuzzy">
                <span class="fa status"></span>
                Fuzzy
                <span class="value" data-value="{{ locale.fuzzy_strings }}">{{ locale.fuzzy_strings|intcomma }}</span>
              </li>
              <li class="missing">
                <span class="fa status"></span>
                Missing
                {% set missing_strings = locale.total_strings - locale.approved_strings - locale.translated_strings - locale.fuzzy_strings %}
                <span class="value" data-value="{{ missing_strings }}">{{ missing_strings|intcomma }}</span>
              </li>
              <li class="all">
                All strings
                <span class="value" data-value="{{ locale.total_strings }}">{{ locale.total_strings|intcomma }}</span>
              </li>
            </ul>
          </div>
        </div>
      </div>

      <div class="timeline">
        <div class="chart"></div>
      </div>
    </div>
  </div>
</section>
{% endblock %}

{% block middle %}
<section id="middle" class="submenu tabs">
  <div class="container">
    {% set current_page = request.path.split('/')[2]|default('') %}
    {% call Menu.submenu() %}
      {{ Menu.item(
          'Projects',
          url('pontoon.teams.team', locale.code),
          is_active = (current_page == ''),
          count = locale.project_set.available().count()
        )
      }}
      {{ Menu.item(
          'Contributors',
          url('pontoon.teams.contributors', locale.code),
          is_active = (current_page == 'contributors'),
          count = False if request.GET.period else locale.contributors.count()
        )
      }}
      {{ Menu.item(
          'Bugs',
          url('pontoon.teams.bugs', locale.code),
          is_active = (current_page == 'bugs'),
          count = False
        )
      }}
      {{ Menu.item(
          'Info',
          url('pontoon.teams.info', locale.code),
          is_active = (current_page == 'info'),
          count = False
        )
      }}
      {% if request.user.has_perm('base.can_manage_locale', locale) %}
        {{ Menu.item(
            'Permissions',
            url('pontoon.teams.permissions', locale.code),
            is_active = (current_page == 'permissions'),
            count = False
          )
        }}
      {% endif %}
    {% endcall %}    
  </div>
</section>
{% endblock %}

{% block bottom %}
<section id="main" class="clearfix">
  <div class="container">

  </div>
</section>
{% endblock %}

{% block extend_css %}
  {% stylesheet 'team' %}
{% endblock %}

{% block extend_js %}
  {% javascript 'team' %}
{% endblock %}
